<footer class="bg-white rounded shadow px-5 py-3 mb-4 mt-2">
    <div class="row">
        {% comment %} <div class="col-12 col-md-4 col-xl-6 mb-4 mb-md-0">
            <p class="mb-0 text-center text-lg-start">
                &copy; <a class="text-primary fw-normal" href="https://themesberg.com" target="_blank">Themesberg</a>
                - Coded by <a href="https://appseed.us" target="_blank">AppSeed</a>.
            </p>
        </div> {% endcomment %}
        <div class="col-12 text-center text-lg-start">
            <ul class="list-inline list-group-flush list-group-borderless text-center mb-0">
                <li class="list-inline-item px-0 px-sm-2">
                    <a href="/">
                        FUNATIC BMP
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
