<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message</title>
</head>
<body>
    <div style="background-color: #F2F4F6; font-family: sans-serif; padding: 1.9rem 5%;">
        <div style="background-color: #FFF; padding: 0.4rem 5% 1rem 5%;">
            <h1 style="color: #161D27; font-size: 2rem; text-align: center;">{{ site_name }}</h1>

            <div style="padding-top: 0.5rem; padding-bottom: 0.5rem;">
                <p style="color: #000; font-size: 1rem; font-family: sans-serif;">Hi there,</p>
                <p style="color: #000; font-size: 1rem; font-family: sans-serif; line-height: 1.6rem; margin-bottom: 2rem;">We received a request to reset the password for your account related to this email address. To initiate the password reset process for your account, click the button below.</p>
                <div style="text-align: center;">
                    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' auth_token=auth_token %}" style="padding: 0.66rem 1rem; font-size: 0.9rem; font-weight: bold; text-decoration: none; border-radius: 0.5rem; color: #ffffff; background-color: #1F2937; border-color: #1F2937;">Reset Your Password</a>
                </div>
                <p style="color: #000; font-size: 1rem; font-family: sans-serif; margin-top: 3rem;">This request to reset your password can only be used once. If you need to reset your password again, please visit <span style="text-decoration: none;">{{ protocol }}://{{domain}}</span> and request another reset.</p>
                <p style="color: #000; font-size: 1rem; font-family: sans-serif; margin-top: 2rem;">If you did not make this request, you can simply ignore this email.</p>
            </div>

            <div>
                <p style="color: #000; font-size: 1rem; margin-bottom: 0.5rem;">Sincerely,</p>
                <p style="color: #000; font-size: 1rem; margin-top: 0;">The {{ site_name }} Team</p>
            </div>
        </div>
    </div>
</body>
</html>